body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}


/* Style pour le header avec header et navbar---------------------------------------------*/

.header {
    padding: 30px;
    text-align: center;

}

.header h1 {
    font-size: 50px;
    color: black;
}

/* Style pour le caroussel -----------------------------------------------------------------------*/
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
    font-size: 50px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

/* Style navbar ************************************************************************/
.navbar-inverse {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}


/* Style card presentation ***********************************************************/
.prix { 
	font-size: 1.3em; 
 	color: #4C5B5C; 	
 } 
 
 .nom {
 	font-size: 1.7em;
 	color: #474747;
 }
 .thumbnail {
	background-color : #FCFFFE;
 	border-style: solid;
 	border-color: #474747;
 	border-radius: 5px;
 }
 .recherche {
 	border-style: solid;
 	border-color: #474747;
 	border-radius: 5px;
 }